
<p>
  <mat-toolbar color="primary">
    <img class="img"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQq42p5i35aL93FWoka9_wnjPpFgfpidCUSuA&usqp=CAU">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon></mat-icon>
    </button>
    <span>Excel Export</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>account_circle</mat-icon>
    </button>
   
  </mat-toolbar>
</p>

<div class="col-lg-12 table-responsive" #TABLE #table>  
  <div style="padding-bottom: 10px;padding-top: 10px;">  
    <div class="row">  
      <div class="col-sm-12">  
        <button mat-raised-button color="primary"
        matBadge="8" matBadgePosition="before" matBadgeColor="accent" (click)="ExportTOExcel()">
        ExportTOExcel
        </button>
      </div>  
    </div>  
  </div>  
  <table class="table table-bordered">  
    <thead class="thead-dark">  
      <tr>  
        <th>{{header[0].displayName}}</th>  
        <th>{{header[1].displayName}}</th>
        <th>{{header[2].displayName}}</th>
      </tr>  
    </thead>  
    <tbody>  
      <tr *ngFor="let data of body">  
        <td>{{data.Vision_ouc}}</td>  
        <td>{{data.Period}}</td>  
        <td>{{data.balance}}</td>   
      </tr>  
    </tbody>  
  </table>  
</div>  
